
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("QaManager", "QaManager")</li>
    <li>@Html.ActionLink("QaCoordinator", "QaCoordinator")</li>
</ul>